<manifest package ="net.tky.myactivityex"
	xmlns:android="http://schemas.android.com/apk/res/android">


<uses-permission android:name="android.permission.CALL_PHONE" />


	<application
		android:allowBackup="true"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:supportsRtl="fasle"
		android:theme="@style/AppTheme">
		
		<activity
			android:label=""
			android:name="" >
			<intent-filter>
				<action android:name="" />
				<category android:name="" />
			</intent-filter>

		</activity>
		//
		<receiver
			android:name=".TextReceiver"
			android:exporterd="false" >
			<intent-filter>
				<action android:name="net.tky.broadcastreceiver.VIEW" />
			</intent-filter>
		</receiver>
		//
		<service
			android:name=".MyService"
			android:exported="false" >
		</service>
		//"content://net.tky.fileprovider/test"
		<provider
			android:name=".FileProvider"
			android:authorities="net.tky.fileprovider"
			android:exported="false">
		</provider>
		//content://net.tky.dpprovider

		//DetailActivity
		<activity
			android:name=".DetailActivity"
			android:label="DetailActivity" >
		</activity>

	</application>

</manifest>


//"content://net.tky.fileprovider/test"


